$base-font-size: 0.875rem;
$base-font-family: 'Lato', sans-serif, Arial;
$header-font-family: 'Fredoka One', sans-serif, Arial;
$app-primary: #ec3f30;
$app-secondary: black;
$app-background: white;
$app-max-width: 100rem;
