$base-font-size: 0.875rem;
$font-family-primary: 'Lato', sans-serif, Arial;
$font-family-secondary: 'Fredoka One', sans-serif, Arial;
$app-primary: #ec3f30;
$app-secondary: black;
$app-background: white;
$app-max-width: 100rem;
