@import "settings";

.info-panel {
  background: $app-background;
  font-family: $font-family-primary;
  height: 100%;
  left: -100vw;
  max-width: 25rem;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  width: 100vw;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  z-index: 500;

  &.active {
    left: 0;
  }

  .fa-close {
    color: #a6a6a6;
    font-size: 2rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }

  section {
    border-bottom: 1px solid $app-lightgrey;
    padding: 1rem 2.5rem 1rem 1rem;

    &:last-child {
      border-bottom: none;
    }
  }

  h1,
  h2 {
    color: $app-secondary;
    margin: 0 0 .25rem;
  }

  address {
    font-style: normal;
    font-size: 1rem;

    a.direction {
      display: inline-block;
      margin-top: 1rem;

      .fa {
        display: inline-block;
        margin-right: .25rem;
      }
    }
  }

  .meals {
    list-style: none;
    margin: 1rem 0 0;
    padding: 0;

    li {
      display: inline-block;
      max-width: 25%;
      padding: 0 .25rem;
      text-align: center;
      vertical-align: top;
      white-space: nowrap;

      img {
        display: block;
        margin: 0 auto .25rem;
        max-width: 100%;
      }
    }
  }

  .info {
    margin-bottom: .25rem;

    &:before,
    &:after {
      clear: both;
      content: '';
      display: table;
    }

    & > .fa {
      float: left;
      font-size: 1.2rem;
      margin-right: .5rem;
    }

    & > p {
      float: left;
      font-size: $base-font-size;
      margin: 0;
      max-width: 80%;
    }

    &.restrictions > p {
      color: $app-primary;
    }

    &.hours span {
      display: block;
    }

    .now {
      color: $app-primary;
    }

    .shift {
      text-transform: uppercase;
    }

    &.description {
      margin-top: 1rem;
    }
  }

  .dietary {
    margin: 0 .25rem;

    img {
      max-height: 1.25rem;
      vertical-align: top;
    }

    span {
      color: #5f9b48;
      font-family: $font-family-primary;
      font-size: .75rem;
      margin-left: .25rem;
    }
  }
}

@media screen and (min-width: 40em) and (orientation: portrait) {
  .info-panel {
    left: -100vw;
    width: 40vw;

    section {
      padding: 1.5rem 1rem;
    }

    ul.meals {
      li {
        img {
          max-height: none;
        }
      }
    }

    .info {
      margin-bottom: .5rem;
    }
  }
}

@media screen and (min-width: 48em) {
  .info-panel {
    left: -100vw;
    width: 50vw;
  }
}

@media screen and (min-width: 64em) {
  .info-panel {
    left: -100vw;
    width: 30vw;
  }
}
