@import "settings";

.map-container {
  position: relative;
}

.map {
  position: relative;
  width: 100%;
  top: 0;
  z-index: 100;

  .gm-style img {
    max-width: none;
    max-height: none;
  }

  .cluster img {
    max-width: 100%;
  }

  .map-control {
    background: $app-background;
    color: #666;
    font-size: 1rem;
    margin-right: 0.6rem;
    padding: 0.25rem 0.5rem;

    div {
      cursor: pointer;

      &:hover {
        color: $app-secondary;
      }
    }
  }
}
