@import "settings";

nav[role="navigation"] {
  align-items: center;
  background: white;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;

  h1 {
    color: $app-primary;
    font-size: 2rem;
    margin: 0;
  }

  p.tagline {
    color: $app-primary;
    font-size: 1rem;
    margin: 0;
  }

  .search {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: right;
  }

  .menu {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: right;

    label {
      font-size: 2rem;
    }

    input[type="checkbox"] {
      display: none;

      &:checked ~ .menu-side {
        right: 0;
      }
    }

    .menu-side {
      background: $app-primary;
      color: $app-background;
      height: 100vh;
      padding: 2rem;
      position: absolute;
      right: -15rem;
      text-align: left;
      top: 0;
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      -ms-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s;
      width: 15rem;

      label {
        cursor: pointer;
        position: absolute;
        right: 1.25rem;
        top: 1.25rem;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          font-family: $font-family-secondary;
          font-size: 1.5rem;
          list-style: none;
          margin-bottom: 2rem;

          a {
            color: $app-background;
            display: block;
            letter-spacing: 0.0625rem;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 40em) {
  nav[role="navigation"] {
    .menu {
      -webkit-flex-grow: 0;
      flex-grow: 0;
    }
  }
}
