@import "settings";

nav[role="navigation"] {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-items: center;
  background: white;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  z-index: 10000;

  h1 {
    color: $app-primary;
    font-size: 2rem;
    margin: 0;
  }

  p.tagline {
    color: $app-primary;
    font-size: 1rem;
    margin: 0;
  }

  .menu-search {
    text-align: right;

    & > div {
      display: inline-block;
      vertical-align: middle;
    }

    .search {
      display: none;
      min-width: 40%;

      input[type="text"] {
        padding-left: 3rem;
        width: 80%;
      }

      .fa {
        font-size: 1.5rem;
        position: absolute;
        transform: translate(1rem, 50%);
      }
    }
  }

  .menu {
    overflow: hidden;

    label {
      font-size: 2rem;
    }

    input[type="checkbox"] {
      display: none;

      &:checked ~ .menu-side {
        right: 0;
      }
    }

    .menu-side {
      background: $app-primary;
      color: $app-background;
      height: 100vh;
      padding: 2rem;
      position: absolute;
      right: -20rem;
      text-align: left;
      top: 0;
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      -ms-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s;
      width: 20rem;

      label {
        cursor: pointer;
        position: absolute;
        right: 1.25rem;
        top: 1.5rem;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          font-family: $font-family-secondary;
          font-size: 1.5rem;
          list-style: none;
          margin-bottom: 2rem;

          a {
            color: $app-background;
            display: block;
            letter-spacing: 0.0625rem;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 40em) {
  nav[role="navigation"] {
    .menu-search {
      .search {
        display: inline-block;
      }
    }

    .menu {
      .menu-side {
        right: -21rem;
        width: 21rem;
      }
    }
  }
}
