@import "settings";

.search {
  font-family: $font-family-secondary;
  font-size: 0.5625rem;

  form {
    background-color: $app-background;
    width: 100%;
    z-index: 1000;
  }

  dd.day {
    background: $app-secondary;
    border-bottom: 1px solid $app-background;
    display: block;
    text-align: center;

    .select-wrapper {
      position: relative;
    }

    select {
      background: $app-secondary;
      border: none;
      color: $app-background;
      font-family: $font-family-secondary;
      font-size: 0.5625rem;
      margin: 0 auto;
      padding: 0.5rem;
      text-align-last: center;
      text-transform: uppercase;
      -webkit-appearance: none;
      width: 100%;

      &::-ms-expand {
        display: none;
      }
    }

    label {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;

      .fa {
        color: $app-background;
        font-size: 0.5625rem;
      }
    }
  }

  dd.meals {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        border-right: 1px solid $app-background;
        display: inline-block;
        width: 25%;

        &:last-child {
          border-right: none;
        }
      }
    }

    label {
      background: $app-secondary;
      color: $app-background;
      display: block;
      padding: 0.5rem;
      text-align: center;
      text-transform: uppercase;
    }

    input[type="checkbox"]:checked ~ label {
      background: $app-primary;
    }
  }
}

@media screen and (min-width: 40rem) {
  .search {
    font-size: 0.6875rem;

    dd {
      display: inline-block !important;
    }

    dd.day {
      border-right: 1px solid $app-background;
      border-bottom: none;
      padding-left: 1rem;
      text-align: left;
      width: 20%;

      select {
        font-size: 0.6875rem;
        text-align-last: left;
      }
    }

    dd.meals {
      width: 55%;

      ul {
      }
    }

    dd.no-id {
      padding-left: 1rem;
      width: 25%;
    }
  }
}

@media screen and (min-width: 64rem) {
  .search {
    dd.day {
      width: 13%;
    }
  }
}
